{% extends '/backend/base_backend.html.twig' %}

{% block title %}Gestion du Pied de page{% endblock %}

{% block body %}

{{  render(controller('App\\Controller\\Backend\\MainController::navBackend'))}}

        <h1>Gestion du Pied de page</h1>
        
        <div class="col-10 bg-secondary">

            {% for message in app.flashes('confirmation') %}
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-success" role="alert" style="text-align: center;">
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert" style="text-align: center;">
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            {{ form_start(footForm) }}
                <button class="btn text-white">{{ button_label|default('Sauvergarder') }}</button>
            {{ form_end(footForm) }}
        </div>

{% endblock %}
