{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{% for message in app.flashes('confirmation') %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success" role="alert" style="text-align: center;">
                {{ message }}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for message in app.flashes('error') %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger" role="alert" style="text-align: center;">
                {{ message }}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{{ form_start(footForm) }}
    <button class="btn text-white">{{ button_label|default('Sauvergarder') }}</button>
{{ form_end(footForm) }}

{% endblock %}
