{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}


<body>


<header>

        {# HEAD #}
        {# Titre de l'onglet de page #}
        {% if title is not empty %}
        {% else %}
            <p>Ajouter un titre d'onglet</p>
        {% endif %}

    <div id="header">

        {# HEADER #}
        {# Image du header #}
        {% if header is not empty %}
            <img id="headerPicture" src="{{ header }}">
        {% else %}
            <p>Ajouter une image pour le Header</p>
        {% endif %}

        {# Titre h1 #}
        {% if h1 is not empty %}
            <h1 id="h1">{{ h1 }}</h1>
        {% else %}
            <p>Ajouter un titre principal h1</p>
        {% endif %}

    </div>

</header>

<main>

    <div id="main">

        {# MAIN #}
        {# Texte de présentation #}
        {% if presentationText is not empty %}
            <p id="presentationText">{{ presentationText }}</p>
        {% else %}
            <p>Ajouter un texte de présentation</p>
        {% endif %}

        {# Articles #}
        {% if articles is not empty %}
            {% for article in articles %}
                <div class="article">
                    <h2>{{ article.title }}</h2>
                    <img src='{{ article.picturePath}}'>
                    <p>{{ article.text }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Ajouter des articles</p>
        {% endif %}

    </div>

</main>

<footer>

    {# FOOTER #}

    <div id="footerPosition" class="row">
        {# Contact #}
        <div class="col-4">
            <h3>CONTACT</h3>
            {% if contact is not empty %}
                <p>{{ contact|nl2br }}</p>
            {% else %}
                <p>Ajouter un contact</p>
            {% endif %}
        </div>
        {# Réseaux Sociaux #}
        <div class="col-4">
            <h3>FACEBOOK</h3>
            {% if socialNetwork is not empty %}
                <p>{{ socialNetwork }}</p>
            {% else %}
                <p>Ajouter un réseaux social</p>
            {% endif %}
        </div>
        {# A propos du site #}
        <div class="col-4">
            <h3>À PROPOS</h3>
            {% if aboutUs is not empty %}
                <p>{{ aboutUs }}</p>
            {% else %}
                <p>Ajouter un texte a propos du site</p>
            {% endif %}
        </div>
        {# A propos du développeur #}
        <div id="aboutF" class="col-12">
            {% if aboutF is not empty %}
                <p>{{ aboutF }}</p>
            {% else %}
                <p>Ajouter un texte a propos du développeur</p>
            {% endif %}
        </div>
    </div>
</footer>


</body>


{% endblock %}